:root {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    ---background-color: lightgray;
    ---foreground-color: white;
    ---accent-color1: skyblue;
    ---accent-color2: gold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: var(---accent-color1);
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 3fr 6fr;
    font-size: 1.5em;
    color: var(---foreground-color);
}

#branding,
li {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    gap: 10px;
    align-items: center;
}

nav ul {
    display: grid;
    gap: 10px
}

li {
    list-style: none;
}

li > img,
#header-top img {
    width: 1.5em;
}

#branding > img {
    width: 2em;
}

nav > * {
    border: dashed 2px white;
    padding-left: 20px;
}

#header {
    display: grid;
    grid-row: 1 / 2;
    background-color: var(---foreground-color);
    grid-template-rows: 1fr 1fr;
}

#header > * {
    border: dashed 2px grey;
}

#header-top {
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 2em auto 2em 2em auto;
    gap: 10px;
}

#header-top input {
    height: 1.5em;
}

#pfp-container img {
    height: 3em;
    width: 3em;
    background-color: orange;
}

#header-bottom {
    display: grid;
    grid-row: 2 / 3;
}

#main-content {
    display: grid;
    grid-row: 2 / 5;
    background-color: var(---background-color);
}

#main-content > * {
    border: dashed 2px white;
}



.filter-white {
    filter: invert(100%);
}